<nav class="navbar">

    <input type="checkbox" id = "menu">
    <label for="menu" class="fa-solid fa-bars "></label>
    <div class="logo-content">

        <i class="fas fa-book"></i>
        <a href="{% url 'home' %}" class="logo">Booky</a>
    </div>
    
    <div class="links">
        <a href="{% url 'books'%}">books</a>
        <a href="{% url 'orders'%}">Orders</a>
        <a href="{% url 'customers'%}">Customers</a>
    </div>

    <div class="icons">
        <div class="icon">
            <span><i class="fas fa-chart-bar"></i></span>
            
        </div>
         <div class="icon">
            <span class="fas fa-user"></span>
            <ul class="login-logout">
                <li><a href="#">login</a></li>
                <li><a href="#">logout</a></li>
            </ul>
         </div>
        
        
    </div>

</nav>