<nav class="navbar">

    <input type="checkbox" id = "menu">
    <label for="menu" class="fa-solid fa-bars"></label>
    <a href="{% url 'home' %}" class="logo">Booky</a>
    <div class="links">
        <a href="#">books</a>
        <a href="#">about</a>
        <a href="#">customers</a>
    </div>

    <div class="icons">
        <div class="icon">
            <span  class="fas fa-book"></span>
            
        </div>
         <div class="icon">
            <span class="fas fa-user"></span>
            <ul class="login-logout">
                <li><a href="#">login</a></li>
                <li><a href="#">logout</a></li>
            </ul>
         </div>
        
        
    </div>

</nav>