{% extends 'bookstore/main.html'%} 
{% load static %}
{% block content %}
<section>

<h1>Edit Profile</h1>

<hr>

<div class="card-container">
    <div class="card">
        <div class="img-container"><img src="{{request.user.customer.avatar.url}}" alt="" class="card-img-top"></div>
        
        <div class="content">
            <h5 class="card-title">Name: {{customer.name}}</h5>
            <p class="card-text">Email: {{customer.email}}</p>
            <p class="card-text">Phone: {{customer.phone}}</p>
            <p class="card-text">Age: {{customer.age}}</p>
           
        
        </div>
    </div>

    <div class="form-container">

    <form method="POST" encrypte ="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

    <button type = "submit"> Edit </button>

    </form>




</div>

</div>
















</section>



{% endblock content %}
