{% extends 'bookstore/main.html'%} {
    {% load static %}
{% block content %}
<section>

<h1>welcome to profile page</h1>

<div id="table-container">
    <table id="customers">
  <tr>
    <th>Book</th>
    <th>category</th>
    <th>date</th>
    <th>status</th>
  </tr>

{% for order in orders %}

  <tr>
    <td>{{order.book.name}}</td>
    <td>{{order.book.category}}</td>
    <td>{{order.date}}</td>
    <td>{{order.status}}</td>
  
  </tr>

  {% endfor %}


 

</table>



</div>
















</section>



{% endblock content %}
